@{
    ViewData["Title"] = "Home Page";
}

<div id="root">
    <footer style="text-align: center; margin-left: auto; margin-right: auto;">
        <p className="copyright text-muted">Copyright &copy; Dubov Website 2019</p>
    </footer>
</div>

@section scripts {
    <script src="~/dist/bundle.js" charset="utf-8"></script>
    <script src="~/vendor-blog/jquery/jquery.min.js"></script>
    <script src="~/vendor-blog/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js-blog/clean-blog.min.js"></script>
}