@{
    ViewData["Title"] = "Dubov News";
}

<div id="root">

</div>

@section scripts {
    <script src="~/dist/bundle.js" charset="utf-8"></script>
    <script src="~/vendor-blog/jquery/jquery.min.js"></script>
    <script src="~/vendor-blog/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js-blog/clean-blog.min.js"></script>
}